/HolaMundoNB/nbproject/private/
/HolaMundoNB/build/
/Ejecrcio N°3- Variables-Constantes-Tipos/nbproject/private/
/Ejercicio N°3- Variables-Constantes-Tipos/nbproject/private/
/Ejercicio01-Soy mayor de Edad/nbproject/private/
/Ejercicio01-Soy mayor de Edad/build/
/Ejercicio1-Se aprueba con 6/nbproject/private/
/Ejercicio1-Se aprueba con 6/build/
/Ejercicio01-SoyMayorDeEdad/nbproject/private/
/Ejercicio01-SoyMayorDeEdad/build/
/Ejercicio01-SeApruebaCon6/nbproject/private/
/Ejercicio01-SeApruebaCon6/build/
/Ejercicio01-AprueboMayorDeSeis/nbproject/private/
/Ejercicio01-AprueboMayorDeSeis/build/
